
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header{
  width: 1440px;
  height: 86px;
  padding: 24px 50px 22px 50px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 2px 16px 0px #00000014;
  background: #FFFFFF;
  color: #000;
  


}
.header{
  color: #000;
  display: flex;
  align-items: center;
  list-style: none;

  gap: 42px;
}
.header .logo{  
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  color: #000;
  display: inline-flex;
}
.logo span{
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: 400;
  color: #f6710c;
}
.header li a{
  text-decoration: none;
}

.searchBar{
  height: 30px;
  width: 300px;
  position: block;
  font-size: 20px;
}
.searchButton{
  font-size: 20px;
  position: absolute;
  right: 339px;
  border-color: transparent;
  background: transparent;
}
.nav{
  padding-left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
}
.navItem{
  font-family: sans-serif;
  color: rgba(26, 24, 24, 0.64);
  font-size: 16px;
}
.myIcons{
  width: 24px;
  height: 24px;
  top: 8px;
  left: 360px;
  padding: 2px 3px 3px 2px;
  gap: 0px;
  opacity: 0px;
}
.hero{
  background-image: url(./assets/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  color: #000;
  font-family: Montserrat;
}
.hero-description{
  padding-left: 160px;
  gap: 24px;
  padding-top: 148px; 
  width: 695px;
}
.desc-title h2{
  line-height: 72px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -2%;
}
.desc-title h2 span{
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;

}
.hero-description p{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(10, 10, 10, 0.64);
  height: 60px;
}
.hero-description a{
  height: 41px;
  width: 172px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 32px;
  color: #fff;
  text-decoration: none;
  gap: 10px;
  padding: 12px 32px 12px 32px;

}


