
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header{
  width: 100%;
  height: 86px;
  padding: 24px 50px 22px 50px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 2px 16px 0px #00000014;
  background: #FFFFFF;
  color: #000;
  


}
.header{
  color: #000;
  display: flex;
  align-items: center;
  list-style: none;

  gap: 42px;
}
.header .logo{  
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  color: #000;
  display: inline-flex;
}
.logo span{
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: 400;
  color: #f6710c;
}
.header li a{
  text-decoration: none;
}

.searchBar{
  height: 30px;
  width: 300px;
  position: block;
  font-size: 20px;
}
.searchButton{
  font-size: 20px;
  position: absolute;
  right: 339px;
  border-color: transparent;
  background: transparent;
}
.nav{
  padding-left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
}
.navItem{
  font-family: sans-serif;
  color: rgba(26, 24, 24, 0.64);
  font-size: 16px;
}
.myIcons{
  width: 24px;
  height: 24px;
  top: 8px;
  left: 360px;
  padding: 2px 3px 3px 2px;
  gap: 0px;
  opacity: 0px;
}
.hero{
  background-image: url(./assets/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 100%;
  overflow: hidden;
  color: #000;
  font-family: Montserrat;
}
.hero-description{
  padding-left: 160px;
  gap: 24px;
  padding-top: 148px; 
  width: 695px;
}
.desc-title h2{
  line-height: 72px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -2%;
}
.desc-title h2 span{
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;

}
.hero-description p{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(10, 10, 10, 0.64);
  height: 60px;
  margin-bottom: 40px;
}
.hero-description a{
  height: 41px;
  width: 172px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 32px;
  color: #fff;
  text-decoration: none;
  gap: 10px;
  padding: 12px 32px 12px 32px;
}
/* ------------------------------products------------------- */
.products-page{
  max-width: fit-content;
  height: 100vh;
  font-family: Montserrat;
  padding-left: 40px;
}
.categories{
  display: inline-flex;
  list-style: none;
  align-items: center;
  height: 24px;
  gap: 25px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.first{
 font-size: 20px;
 font-weight: 600;
 line-height: 24.38px;
 text-align: left;
}
.catItem{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  color: rgba(10, 10, 10, 0.64);
}
.last{
  padding-left: 550px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: rgba(10, 10, 10, 0.64);
}
.container{
  max-width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-left: 100px;
  overflow-x: hidden;
}
.product{
  width: 317px;
  height: 384px;
}
.prod1 img{
  width: 158px;
  height: 272px;
}
.prod2 img{
  width: 157px;
  height: 272px;
}
.prod3 img{
  width: 272px;
  height: 272px;
}
.prod4 img{
  width: 272px;
  height: 272px;
}
.prod5 img{
  width: 161px;
  height: 272px;
}
.prod6 img{
  width: 149px;
  height: 272px;
}
.prod7 img{
  width: 181px;
  height: 272px;
}
.prod8 img{
  width: 161px;
  height: 272px;
}
.brand{
  display: flex;
  align-items: center;
  gap: 70px;
  color: rgba(10, 10, 10, 1);
}
.brand-desc h4{
  color: rgba(10, 10, 10, 1);
  font-size: 16px;
  font-weight: 500;
}
.brand-desc p{
  color: rgba(10, 10, 10, 0.64);
  font-weight: 400;
  font-size: 14px;
}
.load-button{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 41px;
  width: 172px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 32px;
  color: #fff;
  margin: auto;
}
.highlight{
  height: 50vh;
  font-family: Montserrat;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.watches{
  display: flex;
  align-items: center;
  justify-content: center;
}
.watches img{
  width: 182px;
  height: 300px;
}
.watches-desc h1{
  font-weight: 600;
  font-size: 32px;
}
.watches-desc p{
  font-size: 14px;
  font-weight: 400;
}
@media (max-width:600px) {
  .hero{
    height: 100vh;
  }
  .hero-description{
    padding-left: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .categories{
    display: block;
    margin-bottom: 40px;
  }
  .highlight{
    display: block;
  }
}
/* @media (max-width:800px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
